:root {
    --color-background: #222222;
    --color-background-shadow: #4a4a4a;
    --color-dark: #1F232A;
    --color-text: #efefef;
    --color-bar: #1a1a1a;
	--color-other: #333333;
    --color-textdark: #777474;
    --color-button: #404040;
    --color-icon: #E1E1E1;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark) var(--color-background-shadow);
    color: var(--color-text) !important;
}

#fbar, #hdtbSum, #appbar, .minidiv .sfbg, .YcWSDf, .dkw61e, .zQTmif.SSPGKf.O5K2Vd .B1tEqd figure, .y8Jpof:hover, .VmOpGe, .N3Hzgf .snByac, .A3sRAb.CDELXb .snByac.snByac, .A3sRAb.u3bW4e .snByac.snByac, .bdf4dc, .uIZQNc .snByac, .jQ9OEf .snByac, .gb_F, .gb_sa.gb_Za.gb_Qe.gb_Dc, .JPdR6b, .EWuRAb.OUzXuf .ikIPKb, .FW4e0c, .o3Tnnc, .g3VIld, .J9Shxc, .jz7BQc, .utPwtc, .x4mTy, .A1EzL.j6uZD, .oMFQWd, .Cfu0qd, .mVx9Fb, .CNrWwb, .mEB2hc, .KQRYIb, .qcTKEe, .T4LgNb, .SSPGKf, .hUsHhf, .ZjEvzc, .Bofz6, .U00uwb, .YisXab, .yDmH0d, .Jf60kf, .mPi5yf .ewY9j, .frame::before, .xEdDie, .popup-mode .b3-page-header, .b3-modal-dialog .modal-dialog-content, .PO4Br, .PWsB5e, .ONOzI, .a-D-B, .N7iPof, .gt-lc.gt-lc-mobile .gt-cc-r-i, .gt-baf-word-selected, .gt-is-itm-hover, .y-C-Ed-V, .y-C, .y-C-ka:hover, .y-C-ka:active, .y-C-ka:focus, .oKubKe[aria-selected="true"], .EenoKf, .ze9ebf.CDELXb .snByac.snByac, .ze9ebf.u3bW4e .snByac.snByac, .agU3I, .GHDvEf, .GHDvEf:hover, .GHDvEf.selected, .GHDvEf.selected:hover, .VqFMTc, .r45TPe, .vk_c, .vk_cxp, .gt-is, #tw-target, .yyjhs, #rllhd__fldhc, .ZlNjjb.l2IUpb, .knowledge-finance-wholepage-chart__hover-card, .EEmK6c, .KIdUu, .nGzje, .r-igYRWZBr7_po, .jTw2d, #liveresults-sports-immersive__team-fullpage, #liveresults-sports-immersive__league-fullpage, .nGHNmf, .Rn1jbe, .cu-container .mnr-c, .Eogop .xuoMNd, .dU5Kl, .R9zNe, .uWmgv, .sfbg, .tw-bilingual-marked, .ecRggb, .gb_Uc .gb_Vc, .gb_Jc {
    background-color: var(--color-background) !important;
}

.jhp input[type="submit"], #hdtb-tls:hover, .kp-blk, .sh-dlr__list-result, .MXl0lf, .N3nEGc, .cbjjnc, .ILYVD, .gb_ub.gb_ub, .gb_l .gb_lb, .XLK0Od, .g81fxb.ROuVee, .g81fxb.sxlEM, .g81fxb, .u7Uqwf.OUzXuf .g81fxb.bhe1tb .JaX6Fb, .WA7y5, .hyMrOd, .jfk-button-standard, .GHEX8:not(.sMVRZe), .GHEX8.sMVRZe.UTOmKf, .GHEX8.sMVRZe, .GHEX8.sMVRZe.sxlEM, .GHEX8:not(.sMVRZe).UTOmKf, .V7Ncoe, .zP3YCe, .DyEs4, .DyEs4 .xoz9O, .Usd1Ac, .OXbKqf, .manage-card ol, .manage-card ol li button.sign-out, .manage-card ol li button.manageAccounts, .kKVajd, .O02Irc, .gTgOub, .cwyvXe, .O2k8te, .KC1dQ, .staJ7e.spYkpc.G1TrEc .Y653g, .sy3Oxe:not(:disabled), .DjbnYe, .oI76Ne, .VCNZl, .NuaRqc, .EhFa0d, .XJAEhd, .zgif0c, .VuM4ve, .xPnGFc .nMBhmd, .z9WUHd, .MCZgpb, .RDsffd, .TPiuDc, .EL3yJc, .VfPpkd-xl07Ob-XxIAqe, .sbhl, .BlOseb.eSq3C g-fab, .k2Oeod.eSq3C g-fab, ._-od, .sh-ma-menu__dropdown, .F9PbJd, .p137Zd, .rtIMgb.WjVZdb, .ftP2Gf, .nYXeLb, .aVFzIb, .V639qd.J9Nfi .X1clqd, .sh-dr__prs, .H73aad, .sh-ma-menu__menu:focus-within ._-oj, .sh-ma-menu__selected-value:valid ~ ._-oj, .XD1Bsc, .XD1Bsc:hover, .ZXJQ7c:hover, .fwcbM, .goog-menuitem-highlight, .goog-menuitem-hover, .iqq6Hc, .MSOQIb, .SmZ4Wd.omBice .QtDoYb, .QT8Hbf, .tdVbM, .RunE3b, .u3WVdc.jBmls, .select-file-page, .ls-wrap, .swap-wrap, .EHzcec, .wTr96d, .IRrVdf, .b3-payment-methods-card, .flyout, .b3-section.card, .b3-balance-card, .b3-collapsing-card.expanded .b3-header-container, .b3-inline-tooltip-popup-wrapper, .help-Helpwidgets-TooltipWidget-content-html, .I2w10d, .bgpk6e, .zYQnTe, .vNuDAe, .a-ub-Gd, .a-ub-oa, .Kk7lMc-Yb-Il-j, .a-ec-Gd .Kzazxf.x6jRSb, .s55KNe .jGNTYb, .l-u-xb, .g-ia, .l-u-Ab-zb, .lb-k, .lb-k-V, .lb-k-x, .h-w, .a-jn-yd, .a-jn-Ma-nb-J, .h-uj, .fCmhtc.hc0pBf, .ta-gc-np-Nd, .modal-dialog, .modal-dialog-title, .modal-dialog-content, .ac-renderer, .e-F-V-Ta.e-Qf-Qd, .notification-container, .gt-is-mobile, .gt-lc.gt-lc-mobile .gt-cd, .gssb_e, .gssb_m, .gssb_i, .lV0vqc, .EKy1vc .YZIJRb, .WGYX8, .action-menu-panel, #hdtb-more-mn a:hover, .hdtbItm.hdtbSel:hover, .hdtbItm a:hover, #cdrlnk:hover, .Sx9Kwc-haAclf, .pla-hovercard-container, .rfli .kp-blk, .gb_mb:hover, .nGHNmf, .tb_c, .imso_gf__bg-to-off, .imso_gf__bg-to-on, .qJnhT, .HFFh4d, .orgdxf, .uMdZh:active, .rllt__local-item-selected, .NQV3m, .jCaeMe, .fiEaaf, .iMxNAc, .d3swN, .gt-is-itm, .zaokob, .XSZ99c, .YZrg6 {
        background: var(--color-bar) !important;
}

.b2hzT, .gb_9d.gb_i.gb_yg.gb_pg, .vk_ard, .IxCT4b, .MgQfZd::after, .h-w::after, .fNHVKc, .SKqpk, #gbw .gb_de {
    display: none !important;
}

.gb_C .gb_D {
    background-position: -463px -36px;
    opacity: .55;
}

body, .jZWadf, .PpML1d, .KxwMuc, .btQoIf, #topstuff .sh-sp__pswtr, .gN5aAe, .Lj9fsd, .Cv8Rjc, .mEVcIe.uGCjIb, .uGCjIb, .ajQY2, .dhgHyf, .rWgZgf, .Q77Pt, .b3-page-overlay, .b3-element-overlay, .k831u, .tuQOVc, .dFPtBe, .a-s-tb-sc-Ja-Q, .a-S-dc, .RAYh1e, .Jf9o3b, .yvg0ob span, .uch-xa-tl, .gstl_50 .sbdd_b, .gstl_50.sbdd_a, .KZmu8e, .S4EObe .exaJlc, .K20DDe.HdaFGf.suApsd.R9GLFb.JXFbbc.Xbg0sb.ySjHwc, .fLJSwc, .eReC4e {
    background: var(--color-background) !important;
}

.aajZCb, .Mw2I7, .ab_dropdown, .sbsb_a, .cF4V5c, .hdtb-mn-o, .hdtbItm, .e7RZX, .cEW58, .source-wrap, .orig, .results-container.empty, .results-container, .result, .tX9u1b:hover, .eYehed:hover, .eYehed:focus, .jqJLq:hover, .UXNHp.jqJLq, .gt-related-suggest-message, .U2XFse, .sbibod *, .action-menu-item:hover, .RNNXgb, .sbibod, .LA97Be:hover, .mitem:hover, .y3gESb:hover, .ZBagRc:hover, .IExo3d:hover, .manage-card ol li button.add:hover, .manage-card ol li button.sign-out:hover, .manage-card ol li button.manageAccounts:hover, .gShwAe, .ktf, .ab_button, .sh-ma-menu__items, .jfk-textinput, .z80M1.FwR7Pc, .nLulBb .oKubKe[aria-selected="true"], .gt-spell-correct-message, .source-input .transliteration-container, .Vwmzxb, .czHJJ, .uMdZh:hover, .l2IUpb:not(.ZlNjjb):hover, .imso-hov:hover, .imso-hov:focus, .liveresults-sports-immersive__st-ic, .Z8r5Gb, .WB85M.KKjvXb {
    background-color: var(--color-background-shadow) !important;
}

.sbib_a, .gsfi, .zthhpf, .h312td, .goog-flat-menu-button, .goog-menu, .gb_Te, .jBmls, .Aul2T.qs41qe, .xoqcGf.DKHcHb .Aul2T, .Aul2T, .b3-widget-table-data-row.clickable.highlighted, .b3-widget-table-header-row.clickable.highlighted, .b3-widget-table-header-row.clickable:hover, .b3-widget-table-data-row.clickable:hover, .b3-widget-table-message-row, .eQMted, .a-c-d.h-R-d-rc, .a-l-S-Pc-w-d.h-R-w-d-W, .a-dkl3Ye .o-Yc-o-T:hover, .a-dkl3Ye .Hb-ja-Na .o-Yc-o-T:focus:hover, .ca-k-ra-B > .h-ra-B > .h-ra:hover, .g-Gh, .h-v-pc, .inviter-recipient-area, .apps-share-chips-chip-warning, .ac-active, .apps-share-chips-chip, .gt-lc-mobile .gt-baf-word-clickable:hover, .gt-lc-mobile .gt-baf-hl, .oG5Srb:hover:not(.RDPZE), .gb_Ue, .a-s-yd-J.a-s-yd-Sa > *, .gb_Pb > .gb_Ob:hover, .gb_Ob:hover, .Hr51pb .tb_l:hover, .Hr51pb .tb_l:focus, .Hr51pb .tb_l:active, .Ix6LGe, .jq2rAe, .tw-lliw:hover, .tw-lliw:focus, .fw-ch-sel .KWk7r.qUjgX, .wDSX5e .DOAbib:hover, .gb_af {
     background: var(--color-background-shadow) !important;
}

.EHzcec, .sbhl, .CNf3nf, .pDZ8ze, .sbsb_d, .zuATee, header.gb_sa, .LGaLwb, .JAPqpe, .qkMa5.oKubKe[aria-selected="true"], .FLmEnf, .PcxEPe .o11zad.QuQCEd, .yUnLie .QuQCEd, .IgzOab, .IEveH, .Z0xhed, .Kd04rd:hover, .HrGXnb, .bButFf, .gt-lc.gt-lc-mobile .gt-cd-cl, .gt-lc.gt-lc-mobile .gt-cd-ncl, .NJfJb, input.qKoqyc, .w3RMhb:hover, .liveresults-sports-immersive__str-rs-cl, .cyFc6e, .liveresults-sports-immersive__empty-tile, .imso-shw, .Hr51pb.tb_h.TbbqEc, .imspo_mff__mff, .imso_gf__bg-off, .imso_gf__gf-itm, .imso_gf__bg-on, .imso_gf__pl-tl, .rBrJud, .Hm7Qac:hover, .lwlxKc:hover, .PfSDnb:hover, .J0LdHf .Is2lAe, .KNcnob, .pla-unit-img-container-link, .Rd246b, .aHPraf, .ugt2L.xQmaOb, .WjkDEe, .YmYVQb, .lxVDVb, .IvmaHf, .lWy7Jc, .MdN6ze, .wDePOc, .UUy9xb, header#gb {
    background-color: var(--color-bar) !important;
}

.ab_button, .ls-wrap .sugg-fade, #isr_chc g-right-button, #isr_chc g-left-button, .language_list_languages.tw-ll-top::after, .IpBtuf {
    background: inherit !important;
}

.mslg .ab_button, .mslg .kpgrb {
    height: 28px !important; 
}

.swap.jfk-button {
    background-color: #fff !important;
}

.yWc32e {
    padding-left: 20px !important;
}

.b3-checkbox-check-container {
    border: 2px solid white !important;
}

.action-menu .mn-dwn-arw {
    border-color: #fff transparent !important;
}

#hdtb, .xoqcGf .QtDoYb {
    border-bottom: 1px solid var(--color-bar) !important;
}
.ab_dropdownitem.selected, #hdtb-msb .hdtb-tl-sel, .Co0ztb, .rcyqQd, .J2j0Cc.kTpKXc, .J2j0Cc.uH98yc {
    background-color: inherit !important;
}
#hdtb-msb .hdtb-tl-sel, .l7vFn, .O1Wnce, .tX9u1b:hover .Rq5Gcb, .Hb-ja-Na .a-c-d:not(.h-R-d-db):focus, .Hb-ja-Na .a-c-d:not(.h-R-d-db).h-R-d-Pb, .a-c-d:not(.h-R-d-db):hover, .a-c-d.h-R-d-W:not(.h-R-d-db) {
    background: inherit !important;
}
.xXEKkb, .w8qArf .fl, .gb_ef::placeholder, .gb_ff::placeholder, .gb_pf::placeholder {
    color: var(--color-text) !important;
}
#rhs .rhsvw {
    width: inherit !important;
}
.gb_ae.gb_4.gb_Wc {
    font-family: 'Google Sans',arial,sans-serif;
    letter-spacing: .25px;
    background: #1a73e8;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    min-width: 4em;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 0;
    cursor: pointer !important;
}
.gb_ae.gb_4.gb_Wc:hover {
    background:#287ae6;
    box-shadow: 0 1px 1px 0 rgba(66,133,244,0.45),0 1px 3px 1px rgba(66,133,244,0.3);
}
.JIzqne.IMVfif > svg > path, .IT4Wo .JUQOtc, .fKz7Od, .YWcUP .JUQOtc, .G6iPcb .JUQOtc, .Y0p3Ue, .F6wuZ, .b3id-section-close > svg > path:first-child, .b3-balance-card-account-detail .b3-image-with-caption > svg, .b3-svg-icon > path:first-child, .b3id-image-with-caption > svg > path:first-child, .b3-collapsing-form-edit-icon > svg > path:first-child, .b3-single-option-form-selector-icon > svg > path, .b3-collapsing-form-icon, .a-d-c > svg, .a-q-Xc-Ab-c > svg > path, .a-qd-va, .H-ia-mc-Si-c > div > svg, .a-nEbBXb-c.a-s-fa-Ha-pa, .gt-ex-quote svg path:first-child, .y-C-ka .y-C-lg svg, .H1KrKd, .YIMUJb > path {
    fill: white !important;
}
.R4HkWb .orgUxc {
    fill: #4a4a4a !important;
}
.SUsuTc .R4HkWb .orgUxc {
    fill: #4285f4 !important;
}
.EhlvJf.KKjvXb, .Zt1cpf[aria-selected="true"], .KT6Tgd .CxtIIb[aria-selected="true"], .wDSX5e .ixImeb, .ncJ6qe.jqJLq, .a-U-ye-ha > .a-U-J, .wYVhGf {
    background: #2d3544 !important;
}
.rN3O0d, .zthhpf, .O1Wnce, .nLulBb .jBmls, .a-D-B-WErN3d-j, .a-jn-Ma-nb-J, .rl_item_base, .gt-is-mobile .gt-is-ld, .gt-is-mobile, .gt-is-itm-hover, .gssb_e, .RNNXgb, .sbibod, .gb_Re, .LA97Be:hover, .mitem:hover, .y3gESb:hover, .ZBagRc:hover, .IExo3d:hover, .manage-card ol li button.add:hover, .manage-card ol li button.sign-out:hover, .manage-card ol li button.manageAccounts:hover, .gShwAe, .ktf, .ab_button, .sh-ma-menu__items, .jfk-textinput, .z80M1.FwR7Pc, .nLulBb .oKubKe[aria-selected="true"], .gt-spell-correct-message, .source-input .transliteration-container, .Vwmzxb, .Hm7Qac:hover {
    border: inherit !important;
}
.e2CuFe {
    border-color: white transparent !important;
}
.zQTmif.SSPGKf.O5K2Vd .B1tEqd figure {
    background-color: #fff;
    border: 2px solid #222;
    height: 120px;
    width: 120px;
}
.z7VTQb .DPvwYc {
    color: #5f6368 !important;
}
.VEBPSe.d0aq2c {
    margin-top: 10px;
}
.gCZlub::after, .i90SRe::before {
    border-top-color: var(--color-bar) !important;
}
.exp-txt-c {
    left: inherit !important;
    right: inherit !important;
    text-align: inherit !important;
}
.sh-dlr__list-result, .LGaLwb, .nLulBb .jBmls {
    box-shadow: inherit !important;
}
._-om._-ok {
    border-top: 5px solid #fff !important;
}
._-om {
    border: 5px solid #000 !important;
}
.Vm8UPe .jBOzbf:nth-child(2) {
    border-left: 2px solid #222222 !important;
}
.lEnAO .Vm8UPe:nth-child(2) {
    border-top: 2px solid #222222 !important;
}
.mboUdc {
    margin-left: inherit !important;
    margin-right: inherit !important;
    border-left: initial !important;
}
.trans-target-highlight, .gm-style * {
    color: black !important;
}
.jqJLq:hover .as7S4c, .ncJ6qe .as7S4c.as7S4c {
    background: inherit !important;
    box-shadow: inherit !important;
}
.Hb-ja-Na .a-c-d:not(.h-R-d-db):focus > svg, .Hb-ja-Na .a-c-d:not(.h-R-d-db).h-R-d-Pb > svg, .a-c-d:not(.h-R-d-db):hover > svg, .a-c-d.h-R-d-W:not(.h-R-d-db) > svg, .iZz7md.aaQsNb:hover, .iZz7md.aaQsNb:hover svg, .iZz7md .I2rTXb:focus, .iZz7md .I2rTXb:focus svg {
    fill: white !important;
}
.a-s-yd-Sa .a-jn-Ma-nb-J {
    padding: 20px !important;
}
.h-uj input::placeholder {
    color: var(--color-text) !important;
}
.a-nEbBXb .g-Qa:not(.H-qa-ng-Vi), .BfIAp {
    border-color: white !important;
}
.cv2gi {
    padding-left: inherit !important;
}

.jFK5vd {
    overflow-x: inherit !important;
}

#isr_chc g-left-button div{
    background-position: center !important;
    left: -26px !important;
}
#isr_chc g-right-button div {
    background-position: center !important;
    right: -26px !important;
}
#isr_chc g-left-button div, #isr_chc g-right-button div {
    background-size: 16px !important;
    height: 16px !important;
}
.BlOseb.MFTKyf .KkkQv {
    background-image: url(https://i.imgur.com/mcybm9h.png) !important;
}
.k2Oeod.MFTKyf .S2C1T {
    background-image: url(https://i.imgur.com/IAt2410.png) !important;
}
.hdtb-mn-hd:hover .mn-dwn-arw, #hdtb-more:hover .mn-dwn-arw, .F7IIOc.rlf__open:not(.rlf__applied) .FZaw6b, .F7IIOc:not(.rlf__applied):hover .FZaw6b {
    border-color: #fff transparent;
}

.PLSnNb, .x4RKVc {
    background: url(https://i.imgur.com/PQSFKv6.png) !important;
    height: 16px !important;
    width: 16px !important;
}
.QU77pf {
    background-image: url(https://i.imgur.com/mh1QyWJ.png) !important;
    height: 16px !important;
    width: 16px !important;
}
.S4EObe.zFtmEd {
    background: linear-gradient(90deg,#222 0%,#222 100%) !important;
}
.zKQAde.nejLf, .zKQAde.ROscfb {
    background: linear-gradient(90deg,#1a1a1a 0%,#1a1a1a 100%) !important;
}
#gb_70 {
    background: #1a73e8;
    border: 1px solid transparent;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#gbw .gb_Pa{
    margin-top: 5px;
}

#gbwa > div > .gb_Ac {
    width: 25px !important;
    height: 25px !important;
    background-image: url('https://github.com/johnendz/Firefox-Extension-Google-Dark/blob/master/images/button_products.png?raw=true') !important;
    background-size: 25px 25px !important;
    margin-top: 6px !important;
    background-position: initial !important;
}
.gb_ng.gb_i {
    padding: 0 0 0 20px !important;
}
.zEFJzf {
    background-color: blanchedalmond;
}

.vk_bk {
  color: #fff !important;
}


.gb_Ub.gb_Xb, .gb_Sb > .gb_Rb {
  background-color: var(--color-background) !important;
}

.gb_Ub.gb_Xb:hover, .gb_Ub.gb_Xb:active, .ZdjxGf.Uyhxfe, .XvZKZb, .mWjWrf, .R1smN, .gb_Sb > .gb_Rb:hover, .gb_pb:hover {
  background-color: var(--color-other) !important;
}

.gb_7d {
  border-radius: 4px !important;
}
.DcsHOb, .eReC4e.FbgB9 {
	border-bottom: 1px solid transparent !important;
}
.ipetfd {
	border-top: 1px solid transparent !important;
}
.ipetfd {
    height: 0px !important;
    margin-top: 0px !important;
}

/* estilo de search */

.MGqjK, .SmeuHe, .I6TXqe {
	background: var(--color-bar) !important;
}
.WpKAof:hover, .YbqTTb, .gb_xb:hover {
  background-color: var(--color-background-shadow) !important;
}
.Y92sLc, .pla-ikpd__modal-content-container, .ZbgEX, .Qnaule, .k8XOCe, .rl_item_base, g-inner-card, #center_col g-card, .YEMaTe, .gb_vb.gb_vb, .gb_zb.gb_zb, .gb_Hb.gb_Hb {
	background-color: var(--color-bar) !important;
}
.pla-ikpd__modal, .cUezCb, .s8GCU {
	background-color: var(--color-background) !important;
}

.Gor6zc, .vFd7Ub {/* fundo das fotos */
	background-color: white !important;
}

/* estilo de pequenos detalhes */

.dGrefb {
	border-bottom: 1px solid var(--color-background-shadow) !important;
}
.gb_Ec.gb_oa {
	background: var(--color-background) !important;
}

/* estilo do account switch */

.gb_Ab.gb_Ab {
	background-color: var(--color-background) !important;
}
.gb_Ib.gb_Ib, .gb_Jb.gb_Jb {
	background-color: var(--color-bar) !important;
}
.gb_l .gb_nb {
	background: var(--color-other) !important;
}
.gb_l .gb_ob {
  background-color: var(--color-other) !important;
}
.gb_yb:hover {
  background-color: var(--color-background-shadow) !important;
}

/* estilo do google drive */
.a-qc-La, .a-t-j .a-gd-j, .a-t-D {
	background-color: var(--color-background) !important;
}
.a-s-Ba-Ak, .a-t-cb, .a-t-D {
	border-bottom: 1px solid transparent !important;
}
.a-U-xc > .a-da-fc-Ug::after, .a-U-xc > .a-da-ji::before, .a-U-xc > .a-da-Ul::before {
	display: none !important;
}
.ub-ml-Pr.USrqEe-ml-Pr-qc-j .ub-sc-j {
	margin-left: 0px !important;
}
.ub-ml-Pr .USrqEe-ml-Pr-gi {
	padding-left: 30px !important;
}
.a-l-S-Pc-w-d.h-R-w-d-pb {
	background: #2d3544 !important;
}
.h-Yo, .a-S-dc {
	border-top: 1px solid transparent !important;
}
.gb_qf::placeholder {
    color: var(--color-text) !important;
}
.Kk7lMc-Yb-Il-j {
    border-left: inherit !important;
}
.a-t-J-ha, .HIGbEd {
	background-color: var(--color-background-shadow) !important;
}
.a-d-vc {
	border-right: 1px solid transparent !important;
}
.a-s-fa-Ha-pa {
	fill: white !important;
}
.wMElNe.AVUQbb.VLrnY, .wMElNe.w8ecmf.VLrnY {
	background: var(--color-background-shadow) !important;
	border-color: var(--color-background-shadow) !important;
}
/* estilo do google photos */

.wDSX5e {
	background: var(--color-background) !important;
}
.YisXab::after {
	display: none !important;
}
.Kmoo3e .up0e5, .KfmeTb .up0e5 {
	background-color: var(--color-bar) !important;
}
.QtDoYb {
	background: var(--color-bar) !important;
}
/* estilo do google pay */

.Foqxif {
	background: #2d3544 !important;
}

/* estilo do myaccount */

.g81fxb.lVAMF .JaX6Fb, .IiNaue, .GheHHf, .KL4X6e {
	background: var(--color-bar) !important;
}
.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me), #gb a.gb_4.gb_ka.gb_ke, #gb a.gb_ke.gb_3 {
	background-color: var(--color-background-shadow) !important;
}
.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-wGMbrd::placeholder {
	color: #fff !important;
}
.p1GmWb, .yUa4ve.KKjvXb {
	background: #2d3544 !important;
}
.gb_6e {
	background-color: var(--color-background-shadow) !important;
}
.gb_Ud.gb_8d {
	border-radius: 10px;
}

/* estilo do myactivity */

.vVmo9e, .IeagJd {
	background: var(--color-bar) !important;
}
.wWGmtd, .aK8vAb, .MocG8c.BH1lmc.LMgvRb {
	background: var(--color-background) !important;
}
.Nrdyac, .wfd7vf, .zYzCSb {
	display: none !important;
}
.h0Ns3c .OA0qNb .KKjvXb, .jslcw:hover, .jslcw:focus {
	background-color: var(--color-background-shadow) !important;
}
.MocG8c {
	color: #fff !important;
}
.jZAuif {
	border-bottom: 1px solid transparent !important;
}
.IlZEuc[aria-selected="true"] {
	background: #2d3544 !important;
}
.jslcw {
	border-bottom: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
}
.XVw6Ad .YYajNd {
	border-top: 1px solid transparent !important;
}

/* estilo do Google One */

.OnzeXc, .OnzeXc[aria-expanded="true"], .yT1kKd {
	background-color: var(--color-bar) !important;
}
.n5kzDf {
	fill: white !important;
}
.HC931.ZEilse {
	background: #2d3544 !important;
}
.hW758::before, .UCmc0b {
	display: none !important;
}

/* estilo do youtube */

#container.ytd-searchbox {
    border-radius: 25px 0 0 25px !important;
    padding: 4px 6px !important;
}

#search-container.ytd-searchbox-spt input {
    margin: 0 5px !important;
	background-color: transparent !important;
}
.gstl_50.sbib_a {
	background-color: transparent !important;
}

#search-icon-legacy.ytd-searchbox {
    border-radius: 0 25px 25px 0 !important;
}

.gsfi.ytd-searchbox {
    background-color: transparent !important;
	margin-left: 5px !important;
}

.sbsb_a, .sbfl_b {
    background-color: var(--color-background) !important;
}

.sbpqs_a, .gsfs, .sbfl_a:hover {
    color: var(--color-text) !important;
}

.sbsb_d {
	border: inherit !important;
    background: var(--color-background-shadow) !important;
}

.sbsb_a {
    padding: inherit !important;
}

ytd-app[mini-guide-visible_] ytd-page-manager.ytd-app {
    margin-left: inherit !important;
}

ytd-browse[mini-guide-visible] ytd-playlist-sidebar-renderer.ytd-browse {
    left: inherit !important;
}
ytd-mini-guide-renderer.ytd-app, #masthead-ad, #buttons ytd-button-renderer {
    display: none !important;
}

ytd-watch-flexy[theater] #player-theater-container.ytd-watch-flexy {
    max-height: calc(100vh - 58px) !important;
}
ytd-watch-flexy[fullscreen] #player-theater-container.ytd-watch-flexy {
    max-height: inherit !important;
}
/* fim do estilo do youtube */